html {
    background-color: #e6f5ff;
    font-family: 'Be Vietnam Pro', sans-serif;
    transition-duration: 0.6s;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
    background-color: #e6f5ff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 15px;
    padding: 20px 20px;
    transition-duration: 0.6s;
}

.card:hover {
    background-color: #e6f5ff;
    box-shadow: 5px 5px 6px #7e7f86, -5px -5px 6px #ffffff;
    transition-duration: 0.6s;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profile_img {
    border-radius: 50%;
    transition-duration: 0.6s;
}

.profile_img:hover {
    box-shadow: 5px 5px 6px #7e7f86, -5px -5px 6px #ffffff;
    transition-duration: 0.6s;
}

.name {
    background-color: #e6f5ff;
    font-size: 28px;
    transition-duration: 0.6s;
}

.bio {
    background-color: #e6f5ff;
    font-size: 24px;
    transition-duration: 0.6s;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social_icon {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    transition-duration: 0.6s;
}

.social_icon:hover {

    border-radius: 5px;
    transition-duration: 0.6s;
    box-shadow: 5px 5px 6px #7e7f86, -5px -5px 6px #ffffff;
}